.columnList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 12px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  height: 300px;
  position: relative;
  &::before {
    content: "";
    width: 90%;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
  }
  &::after {
    content: "";
    width: 60%;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    bottom: 30px;
    left: 10px;
    border-radius: 10px;
  }
}

.item {
  width: 100%;
  height: 80px;
  position: relative;
  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    width: 75%;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    top: 30%;
    left: 70px;
    transform: translateY(-30%);
    border-radius: 10px;
  }
}

.banner,
.item {
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

// Loading animation
@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
