.section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    overflow: auto;
    height: 100vw;
    scrollbar-width: none; // remove scroll width
  }
}
